.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding: 10px;
}

.auth-links a {
  margin: 0 5px;
  text-decoration: none;
  color: black;
}

.navigation {
  background-color: #e0e0e0;
  padding: 10px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation ul li {
  position: relative;
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.dropdown li {
  margin: 0;
}

.dropdown li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown li a:hover {
  background-color: #f0f0f0;
}

.main-content {
  padding: 20px;
}

.image-slider {
  background-color: #add8e6;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.tabs button {
  background-color: #add8e6;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}

.info-board {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.info-board a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  text-decoration: none;
  color: black;
}

.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  border: none;
  padding: 10px 20px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

/* ------------------------------------------------------------------------------------ */

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ccc;
}

.search-input {
  display: flex;
  gap: 10px;
}

.detail-list-container {
  display: flex;
  gap: 20px; /* 각 목록 사이의 간격 */
}

.detail-list {
  flex: 1; /* 동일한 너비로 설정 */
}

.list-title {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 5px 0;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}



